<div class="col-md-6 col-md-offset-3" style="margin-top:30px;">

  <div class="form-group">
      <label for="comment">Comentario</label>
      <textarea id="comment" class="form-control" name="comment[texto]" rows="3" cols="20" required autofocus="on"></textarea>
    </div>

      <button type="submit" class="btn btn-success">Guardar</button>

      <a  class="back" href="/quizesList"><i class="glyphicon glyphicon-arrow-left"></i> Volver </a>


</div>

<div class="col-md-3" style="margin-top:40px;">
  <% if (errors.length) { %>
    <% for(var i in errors) { %>
      <div class="alert alert-danger" role="alert"><%= errors[i].message %></div>
    <% } %>
  <% } %>
</div>
