<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" >
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h1><small>Bienvenido a</small> Quiz </h1>
            <p class="text-justify">Proyecto quiz para miriadaX</p>
          </div>
          <div class="col-md-4 margin-menu">
            <ul class="nav nav-pills">
              <li><a href="/">Inicio</a></li>
              <li><a href="/quizes/question">Comenzar</a></li>
	             <li><a href="/author">Créditos</a></li>
              <li class="disabled"><a href="#">Log-In</a></li>
            </ul>

          </div>
        </div>
      </div>
    </header>

    <section>
      <div class="container">
        <div class="row">
            <%- body  %>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12 margin-footer">
            <ul class="list-group list-border">
              <li class="text-center"><a target="_blank" href="https://es.wikipedia.org/wiki/Quiz">¿Qué es un quiz?</a></li>
              <li class="text-center"><a target="_blank" href="#">Proyecto en GitHub</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
