body {
  font: 14px  "Roboto", "Lucida Grande", Helvetica, Arial, sans-serif;
}

header{
    background-color: #F7F7F9;
}

.list-group li{
  list-style: none;
  text-align: center;
}

.list-group-item{
  padding: 0px 0px 5px;  
}

.list-group-item a{
    text-decoration: none;
}

.back{
  float:right;
}


.margin-menu{
  margin-top: 5%;
}

.margin-footer{
  margin-top: 5%;
}

.carousel-inner img{
  width:100%;
}

.list-border{
  border-top-width: 3px;
  border-top-style: solid;
}

.carousel-control.left{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0) 0%, transparent 100%);
}

.carousel-control.right{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0) 0%, transparent 100%);
}

.offsetbottom{
  margin-bottom:50px;
}

.row img{
  margin:auto;
}

.p-title{
  text-align: center;
  font-size: 3em;
}

.editdanger{
    height: 28px;
    padding-left: 4px;
    padding-right: 6px;
}

.atitle{
    font-size: 1.3em;
    font-weight: bold;
}

a {
  color: #00B7FF;
  text-decoration: none !important;
}
