body {
  font: 14px  "Roboto", "Lucida Grande", Helvetica, Arial, sans-serif;
}

header{
    background-color: #F7F7F9;
}

.list-group li{
  list-style: none;
}

.margin-menu{
  margin-top: 5%;
}

.margin-footer{
  margin-top: 5%;
}

.carousel-inner img{
  width:100%;
}

.list-border{
  border-top-width: 3px;
  border-top-style: solid;
}

.carousel-control.left{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0) 0%, transparent 100%);
}

.carousel-control.right{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0) 0%, transparent 100%);
}

.offsetbottom{
  margin-bottom:50px;
}

.row img{
  margin:auto;
}

a {
  color: #00B7FF;
}
