
<div class="col-md-6 col-md-offset-3" style="margin-top:30px;">

  <div class="form-group">
      <label for="pregunta">Pregunta</label>
      <input type="pregunta" class="form-control" name="quiz[pregunta]" value="<%= quiz.pregunta %>"  required autofocus="on">
    </div>
  <div class="form-group">
        <label for="respuesta">Respuesta</label>
        <input type="respuesta" class="form-control" name="quiz[respuesta]" value="<%= quiz.respuesta %>"  required>
  </div>

  <select class="form-control" name="quiz[tema]">
    <option value="Paises">Paises</option>
    <option value="Ciencias">Ciencias</option>
    <option value="Tecnologia">Tecnología</option>
  </select> <br>


    <button type="submit" class="btn btn-success">Guardar</button>

    <a  class="back" href="/quizesList"><i class="glyphicon glyphicon-arrow-left"></i> Volver </a>

</div>

<div class="col-md-3" style="margin-top:40px;">
  <% if (errors.length) { %>
    <% for(var i in errors) { %>
      <div class="alert alert-danger" role="alert"><%= errors[i].message %></div>
    <% } %>
  <% } %>
</div>
