<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" >
    <title></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <header>
      <div class="container">
        <h1><small>Bienvenido a</small> </h1>
        <p class="text-justify">Proyecto quiz para miriadaX</p>
      </div>
    </header>

    <section>
      <div class="container">
        <h1><%= respuesta %></h1>
        <a href="/quizes/question">Try again</a>
      </div>
    </section>

  </body>
</html>
