<div class="row">
  <div class="col-md-6 col-md-offset-3 offsetbottom">

    <h1 class="text-center">Autor <small>Edward Fernández</small></h1>

    <p class="text-center">Realizado bajo el framework <b>EXPRESS.JS</b> con el gestor de paquetes <b>NPM</b> en la plataforma <b>NODE.JS</b></p>

  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <img class="img-responsive" src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fsupundharmarathne.files.wordpress.com%2F2013%2F08%2Fnodejs.png&f=1" alt="" />
  </div>
  <div class="col-md-2">
    <img class="img-responsive" src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fnodejs-cloud.com%2Fimg%2F128px%2Fexpressjs.png&f=1" alt="" />
  </div>
  <div class="col-md-4">
    <img class="img-responsive" src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fts1.mm.bing.net%2Fth%3Fid%3DJN.XiRRc7BeJ2%252b3lgiwGsdxBw%26pid%3D15.1&f=1" alt="" />
  </div>
</div>
